.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-top: 15px;
  padding-bottom: 15px;

  &__logo{
    color: var(--white-color);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.24px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  &.scrolled{
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.250s ease-in-out;
  }
}

.nav {
  display: none;

  &__list {
    display: flex;
    font-family: "OpenSans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
      letter-spacing: 0.7px;
    }
  }

  &__link {
    color: var(--white-color);
    opacity: 0.5;

    &.active {
      opacity: 1;
      color: var(--white-color);
    }

    &:hover {
      opacity: 1;
    }
  }
}
